@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}
body{
    font-family: 'Patrick Hand', cursive;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(229, 194, 219);
}
#buscar {
    position: absolute;
    padding: 2px;
}
#buscar input{
    width: 0px;
    height: 20px;
    padding: 0 20px;
    font-size: 18px;
    color: black;    
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.botn{
    position: absolute;
    top: 0;
    right: 0;
    background:rgb(100, 178, 250);
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 6s ease;
}

.textCarousel{
    color: rgb(13, 133, 170);
}
#buscar:hover input{
    width: 240px;
}
#buscar input:focus{
    width: 240px;
}
.seccionH1{
    background-color: rgb(199, 220, 240);
    margin: 2rem;
    text-align: justify;
    color: grey;
}
.grid_Container{
    border: 1px solid black;
    display: grid;
    background-color: rgb(199, 220, 240);
    grid-template-columns: 1fr 0.5fr;
    gap: 5px;
    padding: 20px;
}
.cardDP{
    width: 18rem;
    align-items: center;
}
.gridImagenes{
    border: 1px solid black;
    display: flex;
  
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 1px;
    padding: 10px;
}
.seleccion{
    text-align: center;
}
#Productos{
    width: 420px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.carrito{
 
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    width: 100%;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #2d4263;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: #11294d;
}
.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.informacion>p:first-child{
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio{
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio .span{
    font-size: 17px;
    font-weight: 300;
}

.carro{
        
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    
}
.gridContenido{
    border: 1px solid black;
    display: flex;
    background-color: rgb(199, 220, 240);
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 1px;
    padding: 10px;
}
.Gale{
    width: 300px;
    height: 300px;
}

.btn{
    border-radius: 15px;
}
.btnGreen{
    color: black;
    background-color: lightseagreen;
}
.btn-primary:hover{
    color: black;
    background-color: rgb(95, 32, 178);
}
.introducción{
    overflow: auto;
    height: 25px;
    min-width: 400px;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
}



#logoIndex {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 5px dashed black;
}

.iconoWhatsapp {
    font-size: 60px;
}
.iconoFacebook {
   font-size: 60px;
}
.iconoTiktok { 
    font-size: 60px;
}
.iconoInstagram {
    font-size: 60px;
}
.imagenPos {
    position: static;
    top: 50px; left: 30px;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 5px dashed black;
}
.nav_item {
    display: inline;
}
.nav_item:hover {
    color: black;
    background-color: lightseagreen;
}

.navegacion{
    height: 26px;
    background-color: rgb(199, 220, 240);
    border: 3px ;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    body{
        color: black;
        align-items: center;
        justify-content: center;
    }
    
    #logoIndex{
        align-items: right;
        justify-content: right;
        width: 130px;
            height: 130px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-top: 10px;
            margin-top: 15px;
            margin-right: 1px;
            margin-bottom: 15px;
            margin-left: 95px;
    }
    .video{
        width: auto;
    }
    .facebook{
        width: auto;
    }
    .menuNavegacion{
       flex-direction: column;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    body{
        background-color:lightseagreen;
        color: white;
        align-items: center;
        justify-content: center;
    }
    
    #logoIndex{
        align-items: right;
        justify-content: right;
        width: 130px;
            height: 130px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-top: 10px;
            margin-top: 15px;
            margin-right: 1px;
            margin-bottom: 15px;
            margin-left: 95px;
    }
    .video{
        width: auto;
    }
    .facebook{
        width: auto;
    }

}
@media only screen and (min-width: 769px) {
    body{
        color: black;
        align-items: center;
        justify-content: center;
    }
    
    #logoIndex{
        align-items: right;
        justify-content: right;
        width: 130px;
            height: 130px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-top: 10px;
            margin-top: 15px;
            margin-right: 1px;
            margin-bottom: 15px;
            margin-left: 95px;
    }
    .video{
        width: auto;
    }
    .facebook{
        width: auto;
    }
    .menuNavegacion{
       flex-direction: column;
    }
}